/*
main color: #0061d4cf
text1 color : #ffffea

*/
h1 {
  color: #ffffea;
  text-align: center;
  -webkit-text-stroke: black 1px;
}

.jumbotron.text-center {
    margin: auto;
    padding: 1em;
    background-color: #0061d4cf;
}
